<%= link_to movie_path(movie), class: "list-group-item" do %>
  <h5 class="list-group-item-heading">
    <%= movie.title %>
  </h5>
  <p class="list-group-item-text">
  <%= truncate(movie.storyline, length: 140) %>
  </p>
  <%= render partial: 'genre_tags', locals: { genres: movie.genres } %>
<% end %>
