<%= link_to movie_path(movie), class: "list-group-item" do %>
  <h5 class="list-group-item-heading">
    <%= movie.title %>
  </h5>
  <p class="list-group-item-text">
  <%= movie.storyline %>
  </p>
<% end %>
