<div class="col-sm-offset-2 col-sm-8">
  <div class="list-group">
    <% @movies.each do |movie| %>
      <%= render partial: "movie", locals: { movie: movie } %>
    <% end %>
  </div>

  <%= link_to "Add movie", new_movie_path, class: "btn btn-success btn-block btn-lg" %>
</div>
