<div class="col-sm-offset-2 col-sm-8">
  <button class="btn btn-default btn-block btn-lg">
    <%= link_to "Add movie", new_movie_path %>
  </button>

  <% @movies.each do |movie| %>
    <%= render partial: "movie", locals: { movie: movie } %>
  <% end %>
</div>
