<div class="col-sm-offset-2 col-sm-8">
  <h3 class="text-left"><b><%= display_search_message(@movies.length) %></b></h3>

  <% @movies.each do |movie| %>
    <%= render partial: "movie", locals: { movie: movie } %>
  <% end %>
</div>
