<div class="col-sm-offset-2 col-sm-8">
  <h3 class="text-left"><b>Sorry, your search did not return any results.</b></h3>

  <hr>

  <h4>Here are some movies you might find interesting instead:</h4>
  <% @suggested_movies.each do |movie| %>
    <%= render partial: "movie", locals: { movie: movie } %>
  <% end %>
</div>
