<% flash.each do |key, value| %>
  <div class="alert alert-warning">
    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
    &nbsp;
    <% Array(value).each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

