<div class="form-group navbar-form navbar-right">
  <%= form_tag search_movies_path, method: 'get' do %>
    <%= text_field_tag :query, params[:query], placeholder: 'Search movies...', class: 'form-control' %>
    <%= button_tag(type: 'submit', class: "btn btn-default") do %>
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <% end %>
  <% end %>
</div>
